*DS_Store
.netrwhist
undodir

**/spell

# ignore this. Ideally, these will just be symlinks to a different location inside the
# the dotfile repo
config/ghostty/ghostty-local
config/wezterm/wezterm-local.lua
